@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


/*
This file is used to store global css styles like fonts, colors, etc.
Headers and footers are also stored here.

Author: Emil Soleymani
Date: 2023-10-12
*/

:root {
    --primary-color: #F48961;
    --primary-color-light: #f7a283;
    --secondary-color: #ffffff;
    --text-color: #264F54;
    --text-color-light: #3a7880;
    --font-family: 'Inter', sans-serif;
}

::placeholder {
    color: var(--primary-color-light);
}

::-ms-input-placeholder { /* Edge 12 -18 */
    color: var(--primary-color-light);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior-y: none;
    font-family: var(--font-family);
}

body {
    background-color: var(--primary-color);
}

html {
    position: relative;
    min-height: 100%;  /* For positioning footer */
}

/**** HEADER ****/
.header-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin-left: 0;
    background-color: var(--secondary-color);
}

.header-nav-wrapper ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 20px;
}

.header-nav-wrapper ul li {
    margin-right: 1rem;
    cursor: pointer;
    padding: 0px 4px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in-out;
}

.header-nav-wrapper ul li:hover{
    border-bottom: 2px solid var(--primary-color);
}

#selected {
    border-bottom: 2px solid var(--primary-color);
}

.header-nav-wrapper ul li a {
    text-decoration: none;
    color: var(--primary-color-light);
    transition: all 0.3s ease-in-out;
}

.header-nav-wrapper ul li a:hover {
    color: var(--primary-color);
}

.header-logo {
    cursor: pointer;
    opacity: 90%;
    transition: opacity 0.5s ease-in-out;
}

.header-logo:hover {
    opacity: 100%;
}
/**** HEADER ****/

/**** FOOTER ****/
.footer-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin-left: 0;
    background-color: var(--secondary-color);
    color: var(--primary-color-light);
}

.footer-social-img {
    height: 40px;
    cursor: pointer;
    padding: 3px;
    opacity: 80%;
    transition: opacity 0.3s ease-in-out;
}

.footer-social-img:hover {
    opacity: 100%;
}

.footer-social-img[src$="youtube.png"] {
    /* Specifically adjusting youtube png image */
    height: 32px;
    padding-top: 1px;
    padding-left: 2px;
    margin-bottom: 4px;
}

.footer-links {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin-left: 0;
}

.footer-links-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.footer-links a{
    text-decoration: none;
    color: var(--primary-color-light);
    transition: all 0.3s ease-in-out;
    padding: 5px;
}

.footer-links a:hover {
    color: var(--primary-color);
}

.footer-space-global {
    height: 0rem;
}
/**** FOOTER ****/

/**** RANGE SLIDER ****/
.range-slider-control {
    min-height: 2rem;
}

.range-slider-form-control {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    text-align: center;
}

.range-slider-control input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 1rem;
    height: 1rem;
    background-color: var(--text-color-light);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.range-slider-control input[type=range]::-webkit-slider-thumb:hover {
    background: var(--text-color);
}

.range-slider-form-control input[type="number"] {
    color: var(--text-color-light);
    width: 5rem;
    padding: 0.5rem;
    font-size: medium;
    font-weight: 200;
    border: none;
    text-align: center;
}

.range-slider-form-control input[type="number"]:hover {
    color: var(--text-color);
}

.range-slider-form-control input[type=number]::-webkit-inner-spin-button, 
.range-slider-form-control input[type=number]::-webkit-outer-spin-button {  
    -webkit-appearance: none;
    margin: 0;
    opacity: 1;
}

.range-slider-control input[type="range"] {
    -webkit-appearance: none; 
    appearance: none;
    height: 2px;
    margin-left: 1rem;
    margin-top: 1rem;
    position: absolute;
    pointer-events: none;
}

#fromSlider {
    height: 0;
    z-index: 1;
}
/**** RANGE SLIDER ****/

/** MEDIA QUERIES **/
@media only screen and (max-width: 1000px) {
    .header-nav-wrapper ul li {
        font-size: 16px;
    }

    .footer-links {
        width: 50%;
    }
}

@media only screen and (max-height: 900px) {
    .footer-space-global {
        height: 5rem;
    }
}
/** MEDIA QUERIES **/