/*
This file is used to store styles for the search page.

Author: Emil Soleymani
Date: 2023-10-12
*/

.search-description-top {
    margin-top: 2rem;
    text-align: center;
    color: var(--secondary-color);
    font-family: var(--font-family);
    font-weight: 100;
}

/** SEARCH RESULTS **/
.search-results-description {
    width: 30%;
    margin-left: 10rem;
    color: var(--secondary-color);
    font-family: var(--font-family);
    font-weight: 100;
    display: flex;
    align-items: center;
}

.search-results-back-button {
    cursor: pointer;
    width: 1.5rem;
    height: 2rem;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.search-results-back-button:hover {
    opacity: 1;
}

.search-results-description-text {
    margin-left: 1rem;
}

.search-results-description-text span {
    font-weight: bold;
    text-decoration: underline;
}

.search-results-wrapper {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 2rem;
}

.results-wrapper {
    flex: 4;
}

.filters-wrapper {
    width: 20%;
    height: max-content;
    padding: 2rem 3rem;
    background-color: var(--secondary-color);
    border-radius: 10px;
    color: var(--text-color-light);
    transition: all 0.3s ease-in-out;
}

.filters-wrapper:hover {
    color: var(--text-color);
}

.filters-header-wrapper {
    display: flex;
    align-items: center;
}

.model-display-quick {
    width: 60%;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--text-color-light);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.model-display-quick:hover {
    transform: scale(1.01);
    color: var(--text-color);
}

.model-display-quick-name {
    margin-bottom: 2rem;
}

.model-display-quick-img {
    height: 20rem;
    margin-left: 13rem;
    border-radius: 10px;
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
}

.model-display-quick-img:hover {
    opacity: 1;
}


.model-display-quick-info-wrapper {
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
}

.model-display-quick-info {
    font-size: large;
    font-family: var(--font-family);
    margin-left: 1rem;
}

.model-display-quick-info-icon {
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.model-display-quick-info-icon:hover {
    opacity: 1;
    transform: scale(1.05);
}

.model-display-quick-learn-more {
    font-size: large;
    font-family: var(--font-family);
    color: var(--text-color-light);
    transition: all 0.3s ease-in-out;
}

.model-display-quick-learn-more:hover {
    color: var(--text-color);
}
/** SEARCH RESULTS **/